.home{
    width: 100%;
    height: 710px;
    background-image: url(../images/home.img.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

 .home svg {
    fill: #00A0C1;
}
 .home svg:hover {
    fill: #fff;
}
.home-left h1{
    width: 509px;
    height: 160px;
    font-family: var(--Monserrat);
    font-size: 48px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.24px;
    text-align: left;
    color:#252B42;
}
.home-left h4{
    margin-top: 35px;
     width: 376px;
     height: 60px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: left;

}
.row-busines{
    padding-top: 80px;
    justify-content: space-between;
}
.btn-primary{
    width: 154px;
    height: 48px;
    padding: 10px 36px;
    margin-top: 35px;
    border:1px solid #6EC8DA;
    border-radius:36px;
    background-color: #FDFDFD;
    transition: .5s ease;
}
.btn-primary-btn{
    width: 185px;
    height: 48px;
    padding: 10px 36px;
    margin-top: 35px;
    border:1px solid #6EC8DA;
    border-radius:36px;
    background-color: #FDFDFD;
    transition: .5s ease;
}
.btn-primary:hover,.btn-primary-btn:hover{
    background-color: #FFA62B;
}
.btn-primary:hover a,.btn-primary-btn:hover a{
      color:#fff;
}
.home-left-button{
    display: flex;
    gap: 10px;
}
.btn-text{
    color:#00A0C1;
    width: 82px;
    height: 28px;
    font-family:var(--Monserrat);
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    transition: .5s ease;
}
.btn{
    width: 115px;
    height: 28px;
    transition: .5s ease;
}
.row-marketing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    gap: 30px;
    position:absolute;
    top: 530px;
}
.home .card-item{
    padding: 35px 40px;
    width: 328px;
    height: 210px;
    transition: .5s ease;
    background-color: #fff;
}
.home .card-item:hover{
    background-color: #fff;
}
.row-marketing:hover svg{
    fill:#fff;
}

.row-marketing .card-item:hover{
    background-color: #00A0C1;
    color:#fff;
}
