.services{
    padding: 100px 0;
    width: 100%;
    height: 854px;
    background-color: #fff;
}
.services-row{
    display: flex;
    gap: 120px;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}
.services-item{
    width: 333px;
    height: 438px;
}
.services-info h2{
    width: 100%;
    height: 114px;
    color:#252B42;
    font-family:var(--Monserrat);
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: left;
}
.services-info p{
    width: 290px;
    height: 60px;
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color:#737373;
}
.services-img{
    position: relative;
    width: 597px;
    height: 442px;
}
.services-img img{
    position: absolute;
    top:0;
    left:0;
}
.services-title{
    font-family:var(--Monserrat);
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    color:#252B42;
}
.servisec-text{
    width: 511px;
    height: 40px;
    margin:15px auto;
    font-family:var(--Monserrat);
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    color:#737373;
}
.services-setting-row{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.services-setting-row h6{
    margin-left: 50px;
}
.service-settings{
    display: flex;
    gap: 20px;
}
.services-settings h5{
    width: 277px;
    height: 48px;
    color:#252B42;
    font-family:var(--Monserrat);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
}
.services-settings h6{
    color:var(--Paragraph);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
}
.service-subtitle{
    display: flex;
    gap: 20px;
}
